<div class="bands-wrapper">
  <div *ngIf="bands.length > 0" class="bands">
    <div *ngIf="selectedBands.length > 0; then favourite else none"></div>
    <ng-template #favourite>
      <h2>My favourite bands are:
        <ul>
          <li *ngFor="let selBnd of selectedBands">{{selBnd.name}}</li>
        </ul>
      </h2>
    </ng-template>
    <ng-template #none><h2>I don't have any favorite bands</h2></ng-template>
    <!--<app-common-popup #alertPopup hidden="true" [title]="selectedBand.name">{{selectedBand.description}}</app-common-popup>-->
  </div>
  <app-table-overview-example (selectedBandEmitter)="bandSelected($event)"
                              (unselectedBandEmitter)="bandUnselected($event)"></app-table-overview-example>
</div>
