<div class="bands-table-wrapper">
  <app-band-menu (bandToAdd)="addBand($event)" (bandToDownload)="downloadBand($event)"></app-band-menu>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="genre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Genre</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.genre}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="albumsList">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Albums</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ul>
            <li *ngFor="let album of row.albumsList">
              "{{album.name}}" {{album.year}}
            </li>
          </ul>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Options </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <app-band-buttons [band]="row"
                            (bandSelected)="bandIsSelected($event)"
                            (bandUnselected)="bandIsUnselected($event)"
                            (bandToRemove)="deleteBand($event)">
          </app-band-buttons>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

